<link rel="stylesheet" href="{{ url_for('static', filename='css/category.css') }}">

{% extends "base.html" %}

{% block title %}{{ category_name }}{% endblock %}

{% block content %}
<h2>{{ category_name }}</h2>

<div class="category-container">
    <h2>Danh sách sản phẩm</h2>
    <div class="product-list">
        {% for product in products %}
        <div class="product-item">
            <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p class="price">{{ product.price }}₫</p>
            <a href="{{ url_for('add_to_cart', product_id=product.id) }}" class="add-to-cart-btn">Thêm vào giỏ hàng</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
